{% extends "base.html.twig" %}

{% block body %}
    <ul class="card-container">
        {% for category in categories %}
            <li class="card"><a href="{{ path("category_show", {categoryName: category.name}) }}">{{category.name}}</a></li>
        {% endfor %}
    </ul>

    <ul id="bottom-nav">
        <li>
            <a href="{{ path("program_index") }}"><< Catalogue</a>
        </li>
        <li>
            <a href="{{ path('category_new') }}">Ajouter une catégorie</a><br>
        </li>
    </ul>
{% endblock body %}