{% extends "base.html.twig" %}

{% block body %}
    <ul>
        {% for category in categories %}
            <li><a href="{{ path("category_show", {categoryName: category.name}) }}">{{category.name}}</a></li>
        {% endfor %}
    </ul>

    <a href="{{ path('category_new') }}">Ajouter une catégorie</a><br>
    <a href="{{ path("program_index") }}"><< Catalogue</a>
{% endblock body %}